@model MiniDerby.Data.Horse

@functions {
	public IHtmlString HorsePlaceString()
	{
		var index = Convert.ToInt32(ViewData["Index"]);

		if (index == 1)
		{
			return Html.Raw("1<sup>st</sup>");
		}
		else if (index == 2)
		{
			return Html.Raw("2<sup>nd</sup>");
		}
		else if (index == 3)
		{
			return Html.Raw("3<sup>rd</sup>");
		}
		else
		{
			return Html.Raw(index + "<sup>th</sup>");
		}
	}
}

<div class="funny-boxes funny-boxes-left-green" style="margin: 5px;">
	<div class="row">
		<div class="col-xs-7" style="font-size: 2em">
			@if (ViewData.Keys.Contains("Index"))
			{
				if (Convert.ToInt32(ViewData["Index"]) < 4)
				{
					<i class="icon icon-trophy icon-2x"></i>
				}
				@HorsePlaceString()
			}
		</div>
		<div class="col-xs-5">
			<h2 style="color:darkgreen"><small>Raised</small> @Model.TotalAmountRaised.ToString("C")</h2>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12">
			<h1>
				<a href="@Url.Action("Horse", "Home", new { id = Model.Id })">@Model.Name</a>
			</h1>
		</div>
		
		<div class="col-xs-4 col-md-3 funny-boxes-img">
			<img class="img-responsive img-circle" style="max-height:200px;" src="@String.Format("https://miniderby.blob.core.windows.net/horse/{0}_headshot.png", Model.Id)" alt="">
		</div>
		<div class="col-md-3 hidden-xs hidden-sm funny-boxes-img">
			<img class="img-responsive img-circle" style="max-height:200px;" src="@String.Format("https://miniderby.blob.core.windows.net/horse/{0}_profile.png", Model.Id)" alt="">
		</div>
		<div class="col-xs-8 col-md-6">
			<h2>
				<small>Presented By</small><br />
				@Model.Sponsor.Name
			</h2>

			@if (Model.Event.EventStartDate.Value > DateTime.Today)
			{
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="custom" id="horseSelect" value="@Model.Id">
				<input type="hidden" name="notify_url" value="http://miniderby.azurewebsites.net/IPN/PayPalPaymentNotification" />
				<input type="hidden" name="return" id="paypalReturnUrl" value="http://miniderby.azurewebsites.net/" />
				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCqoDDuuEKxWp3+RFhM7KsT+HiOloJfgSnUM5urTSF0hRxIqUDDERbmGjZgam30rKcHF5rHaqg2SVHtOKYDIO52C0/87XAV4eJKqyuPQ7nP24bm39/TGdHsZzswzo8jrp3Eu+nzGcYQiMouvBIoipQZTFCsSXxV4uUAIe9x3aU7rzELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIFJAso2Z+dkGAgaAtvyFNdEBKEH3UR0Si9c2eNBgEHgV2caHTzq1nyoCnk3ttZvhx6+2ubIZ2CakNVIkr+SqXVihi8JTdxDaM/teCRGyL3BvzkCak6RuQqI1LgZ+pjFSrjX6BDgbiVXgynCnkXdVQfzRNUTNCbbrnBpqQyhF8MNYh44Q2Y/qmIcSykWHdW/PJ7AQSGA3+6UsnbvwPt8KM71fuF4LKQn7CCe54oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODA1MTgzOTI3WjAjBgkqhkiG9w0BCQQxFgQUprgmq/6EUI/wU0kba7bDaltY/U4wDQYJKoZIhvcNAQEBBQAEgYCOiuyJKqjQdQOyARd7B/FA4nSMuZHg69PPYYo0M9eJcAwS2/ln+hyVaNLMmm/3fTb1jP5rbdFay8Q+48+4yNsJ3udc3aI0raVOwlOFBx28V9Vj0YNPfTp0p3cYCWcgE2Hprkua4GdviAcyFwhog4QKk5ZbW9Rp6DaOqlHlRBTb4g==-----END PKCS7-----">
				<button type="submit" class="btn-u btn-u-light-green rounded-2x btn-u-lg" style="white-space: normal">
					<i class="icon icon-badge"></i>
					Place a Donation Bet
				</button>
			</form>
			}
		</div>
	</div>
</div>