

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/style.css">
	<link rel="stylesheet" href="~/Content/css/blocks.css">
	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="~/Content/css/headers/header-v6.css">
	<link rel="stylesheet" href="~/Content/css/footers/footer-v2.css">
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="~/Content/plugins/animate.css">
	<link rel="stylesheet" href="~/Content/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="~/Content/plugins/font-awesome/css/font-awesome.min.css">
	<!-- CSS Theme -->
	<link rel="stylesheet" href="~/Content/css/theme-colors/dark-blue.css" id="style_color">
	<!-- CSS Customization -->
	<link rel="stylesheet" href="~/Content/css/custom.css">
	@Styles.Render("~/Content/css")
</head>
<body class="header-fixed-space header-fixed">
	<div class="wrapper">
		<!--=== Header 6===-->
		<div class="header-v6 header-sticky header-dark-transparent">
			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<div class="menu-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- Navbar Brand -->
						<div class="navbar-brand">
							<a href="index.html">
								<img class="default-logo" src="~/Content/Images/logo_inverted_large.png" alt="Logo">
								<img class="shrink-logo" src="~/Content/Images/logo_small.png" alt="Logo">
							</a>
							@RenderSection("Countdown", required:false)
						</div>
						<!-- ENd Navbar Brand -->
					</div>


					<div class="navbar-collapse navbar-responsive-collapse collapse" aria-expanded="true">
						<div class="menu-container">
							<ul class="nav navbar-nav">
								<li>@Html.ActionLink("Home", "Index", "Home")</li>
								<li>@Html.ActionLink("About", "About", "Home")</li>
								<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Navbar -->
		</div>
		<!-- End Header 6 -->



		<!--=== Content ===-->
		<div class="container content height-500">
			@RenderBody()
			<!-- Write Your HTML Codes Here -->
		</div>
		<!--=== End Content ===-->
		<!--=== Footer Version 1 ===-->
		<div class="footer-v2">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-6 md-margin-bottom-40">
							@*<a href="index.html"><img id="logo-footer" class="footer-logo" src="~/Content/img/logo2-default.png" alt=""></a>*@
							<p>A Benefit for children with autism & their families</p>
							<p>The Vision and Purpose of Equestrian Bridges is to empower children and youth considered to be at risk for social, behavioral or academic delays with the tools to develop emotional, mental and physical fitness using Natural Horsemanship doing Equine Assisted Activities and Therapies.</p>							
						</div><!--/col-md-3-->
						<!-- End About -->
						<!-- Address -->
						<div class="col-md-6 map-img md-margin-bottom-40">
							<div class="headline"><h2>Contact Us</h2></div>
							<address class="md-margin-bottom-40">
								Equestrian Bridges, Inc.<br />
								3100 Oakland Zion<br />
								Fayetteville, AR 72703<br />
								Phone: 479-409-8980 <br />
								Fax: 800 123 3456 <br />
								Email: <a href="mailto:info@equestrianbridges.org" class="">info@equestrianbridges.org</a>
							</address>
						</div><!--/col-md-3-->
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								Copyright © 2012 Equestrian Bridges.
								All Rights Reserved.
							</p>
						</div>
						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div>
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="~/Content/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="~/Content/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="~/Content/plugins/smoothScroll.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="~/Scripts/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="~/Scripts/app.js"></script>
	<script type="text/javascript" src="~/Scripts/plugins/style-switcher.js"></script>

	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<!--[if lt IE 9]>
		<script src="~/Content/plugins/respond.js"></script>
		<script src="~/Content/plugins/html5shiv.js"></script>
		<script src="~/Content/plugins/placeholder-IE-fixes.js"></script>
		<![endif]-->
</body>
</html>
