@model MiniDerby.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Model.IsFutureEventPage)
{
	@section Scripts
	{
		<script type="text/javascript" src="~/Content/plugins/countdown/jquery.plugin.js"></script>
		<script type="text/javascript" src="~/Content/plugins/countdown/jquery.countdown.min.js"></script>
		<script>
			$('#countdown').countdown(
			{
				until: new Date(@Model.NextEvent.EventStartDate.Value.ToString("yyyy,MM-1,dd")),
				layout: '{d<} {dn} {dl} {d>} {hn} {hl} {mn} {ml} {sn} {sl}'
			});
		</script>
		<style>
			#countdown-container {
				font-size: 2em;
				max-width: 550px;
				margin: auto;
				padding: 15px;
				border: 4px solid white;
				color: white;
			}
			#countdown-container * {
				vertical-align: bottom;
			}
			#countdown {
				display:inline-block;
				color: white;
			}
			#cta-container * {
				margin: 10px;
			}
		</style>
	}
}

@section Slider {
	<!-- Interactive Slider v2 -->
	<div class="interactive-slider-v2 img-v4" style="background: url(../../Content/Images/mini-derby-background.png) no-repeat; background-size: cover; background-position: center; margin-top: -94px;">
		<div class="container">
			<h1>
				<small class="text-uppercase" style="color:white;">Equestrian Bridges</small><br/>
				@Model.MostImportantEvent.Name
			</h1>
			<p class="lead">A benefit for children with autism and their families.</p>
			@if (Model.IsFutureEventPage)
			{
				<div class="rounded-2x" id="countdown-container">
					<i class="icon-2x icon icon-hourglass"></i>
					<h2 id="countdown"></h2>
				</div>
			}
			<h2 style="color:white;">
				@Html.Raw(String.Format("{0: MM/dd/yy}<br/>{0:h:mm tt} - {1: h:mm tt}", Model.MostImportantEvent.EventStartDate.Value, Model.MostImportantEvent.EventEndDate.Value))
			</h2>
			<h2>
				<a style="color:white; text-decoration: underline" href="http://maps.apple.com/?saddr=Current%20Location&daddr=@Uri.EscapeDataString("3100 Oakland Zion Rd. Fayetteville, AR 72701")">3100 Oakland Zion Rd. Fayetteville, AR 72701</a>
			</h2>
			@if (Model.IsFutureEventPage)
			{
				<div id="cta-container">
					<a href="#" class="btn-u btn-u-blue btn-u-lg rounded-2x">
						<i class="fa fa-ticket"></i>
						Buy a Ticket
					</a>
					<a href="@Url.Action("Horses", "Home")" class="btn-u btn-u-light-green btn-u-lg rounded-2x">
						<i class="icon icon-badge"></i>
						Place a Donation Bet
					</a>
				</div>
			}
		</div>
	</div>
	<!-- End Interactive Slider v2 -->
}

<div class="row">
	@foreach (var horse in Model.NextEvent.Horses.OrderByDescending(x => x.TotalAmountRaised))
	{
		<div class="col-sm-6">
			@Html.Partial("_Horse", horse)
		</div>
	}
</div>